# Topic Modeling

## Introduction

Another popular text analysis technique is called topic modeling. The ultimate goal of topic modeling is to find various topics that are present in your corpus. Each document in the corpus will be made up of at least one topic, if not multiple topics.

In this notebook, we will be covering the steps on how to do **Latent Dirichlet Allocation (LDA)**, which is one of many topic modeling techniques. It was specifically designed for text data.

To use a topic modeling technique, you need to provide (1) a document-term matrix and (2) the number of topics you would like the algorithm to pick up.

Once the topic modeling technique is applied, your job as a human is to interpret the results and see if the mix of words in each topic make sense. If they don't make sense, you can try changing up the number of topics, the terms in the document-term matrix, model parameters, or even try a different model.

## Topic Modeling - Attempt #1 (All Text)

In [1]:
# Let's read in our document-term matrix
import pandas as pd
import pickle

data = pd.read_pickle('./wednesday_data/dtm_stop.pkl')
data

,abandoned,abilities,ability,ablaze,able,abominable,abomination,abominations,abruptly,absolutely,...,youthful,yowza,yuck,yup,zaps,zealots,zero,zombies,zone,zurich
E01,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
E02,1,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
E03,1,1,1,1,2,0,0,1,1,0,...,0,0,2,0,0,0,0,1,0,0
E04,1,0,1,0,1,1,0,0,0,1,...,0,0,0,0,0,0,2,0,2,0
E05,2,1,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
E06,1,0,2,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
E07,1,0,0,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
E08,1,0,1,0,1,0,1,1,0,0,...,0,0,0,1,0,0,1,0,0,0

In [2]:
# Import the necessary modules for LDA with gensim
# Terminal / Anaconda Navigator: conda install -c conda-forge gensim
from gensim import matutils, models
import scipy.sparse

# import logging
# logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

In [3]:
# One of the required inputs is a term-document matrix
tdm = data.transpose()
tdm.head()

           E01  E02  E03  E04  E05  E06  E07  E08
abandoned    2    1    1    1    2    1    1    1
abilities    0    0    1    0    1    0    0    0
ability      0    1    1    1    1    2    0    1
ablaze       0    0    1    0    0    0    0    0
able         0    1    2    1    0    1    1    1

In [4]:
# We're going to put the term-document matrix into a new gensim format, from df --> sparse matrix --> gensim corpus
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [6]:
# Gensim also requires dictionary of the all terms and their respective location in the term-document matrix
cv = pickle.load(open("./wednesday_data/cv_stop.pkl", "rb"))
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term), we need to specify two other parameters - the number of topics and the number of passes. Let's start the number of topics at 2, see if the results make sense, and increase the number from there.

In [7]:
# Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term),
# we need to specify two other parameters as well - the number of topics and the number of passes
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)
lda.print_topics()

[(0,
  '0.005*"tyler" + 0.004*"hyde" + 0.004*"monster" + 0.004*"crackstone" + 0.004*"weems" + 0.003*"come" + 0.003*"nevermore" + 0.003*"xavier" + 0.003*"time" + 0.003*"need"'),
 (1,
  '0.005*"enid" + 0.005*"come" + 0.005*"want" + 0.005*"did" + 0.004*"nevermore" + 0.004*"need" + 0.004*"got" + 0.004*"oh" + 0.004*"going" + 0.004*"let"')]

In [8]:
# LDA for num_topics = 3
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)
lda.print_topics()

[(0,
  '0.000*"eugene" + 0.000*"enid" + 0.000*"need" + 0.000*"oh" + 0.000*"going" + 0.000*"xavier" + 0.000*"dance" + 0.000*"did" + 0.000*"come" + 0.000*"want"'),
 (1,
  '0.005*"come" + 0.005*"nevermore" + 0.005*"got" + 0.004*"did" + 0.004*"let" + 0.004*"want" + 0.004*"going" + 0.004*"rowan" + 0.004*"enid" + 0.004*"school"'),
 (2,
  '0.005*"enid" + 0.004*"monster" + 0.004*"want" + 0.004*"need" + 0.004*"oh" + 0.004*"tyler" + 0.004*"did" + 0.003*"think" + 0.003*"fester" + 0.003*"yeah"')]

In [9]:
# LDA for num_topics = 4
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=10)
lda.print_topics()

[(0,
  '0.005*"monster" + 0.004*"fester" + 0.004*"hyde" + 0.004*"crackstone" + 0.004*"need" + 0.004*"yeah" + 0.004*"want" + 0.003*"come" + 0.003*"did" + 0.003*"nevermore"'),
 (1,
  '0.007*"enid" + 0.007*"tyler" + 0.005*"come" + 0.005*"xavier" + 0.005*"oh" + 0.004*"want" + 0.004*"eugene" + 0.004*"didn" + 0.004*"monster" + 0.004*"weems"'),
 (2,
  '0.005*"rowan" + 0.005*"garrett" + 0.005*"father" + 0.005*"come" + 0.004*"did" + 0.004*"want" + 0.004*"let" + 0.004*"mother" + 0.004*"got" + 0.004*"nevermore"'),
 (3,
  '0.006*"nevermore" + 0.005*"school" + 0.004*"did" + 0.004*"way" + 0.004*"rowan" + 0.003*"going" + 0.003*"want" + 0.003*"mother" + 0.003*"oh" + 0.003*"need"')]

These topics aren't looking too great. We've tried modifying our parameters. Let's try modifying our terms list as well.

## Topic Modeling - Attempt #2 (Nouns Only)

One popular trick is to look only at terms that are from one part of speech (only nouns, only adjectives, etc.). Check out the UPenn tag set: https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html.

In [10]:
# Let's create a function to pull out nouns from a string of text
from nltk import word_tokenize, pos_tag

def nouns(text):
    '''Given a string of text, tokenize the text and pull out only the nouns.'''
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)] 
    return ' '.join(all_nouns)

In [11]:
# Read in the cleaned data, before the CountVectorizer step
data_clean = pd.read_pickle('./wednesday_data/data_clean.pkl')
data_clean

                                            transcript
E01  Original release date  November          Wedne...
E02  Original release date  November          Wedne...
E03  Original release date  November          Wedne...
E04  Original release date  November          Wedne...
E05  Original release date  November             ye...
E06  Original release date  November          Wedne...
E07  Original release date  November          At Ma...
E08  Original release date  November          Wedne...

In [12]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns = pd.DataFrame(data_clean.transcript.apply(nouns))
data_nouns

                                            transcript
E01  release date November Wednesday Addams school ...
E02  release date November Wednesday Sheriff Galpin...
E03  release date November Wednesday members studen...
E04  release date November Wednesday Thing break co...
E05  release date November years Gomez suspicion Ga...
E06  release date November Wednesday Goody ancestor...
E07  release date November Mayor Walker Wednesday f...
E08  release date November Wednesday classmates Tyl...

In [32]:
# Create a new document-term matrix using only nouns
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

# Re-add the additional stop words since we are recreating the document-term matrix
add_stop_words = ['like', 'im', 'know', 'just', 'dont', 'thats', 'right', 'people',
                  'youre', 'got', 'gonna', 'time', 'think', 'yeah', 'said', 'music', 'playing']
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)

# Recreate a document-term matrix with only nouns
cvn = CountVectorizer(stop_words=stop_words)
data_cvn = cvn.fit_transform(data_nouns.transcript)
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names())
data_dtmn.index = data_nouns.index
data_dtmn

c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abilities,ability,abomination,abominations,academy,acapella,accident,accounts,accusations,act,...,yeti,yo,yoko,yonder,yowza,yuck,zero,zombies,zone,zurich
E01,0,0,0,0,1,0,1,0,0,0,...,0,2,0,0,0,0,1,0,0,0
E02,0,1,0,0,0,1,2,0,0,0,...,0,0,2,0,0,0,0,0,0,0
E03,1,1,0,1,2,0,0,0,0,0,...,0,0,2,1,0,2,0,1,0,0
E04,0,1,0,0,0,0,1,0,0,1,...,3,3,0,0,0,0,1,0,1,0
E05,1,1,0,0,0,0,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
E06,0,2,0,0,0,0,0,0,0,2,...,0,0,1,0,0,0,0,0,0,0
E07,0,0,0,0,0,0,0,0,0,0,...,0,0,5,0,1,0,0,0,0,1
E08,0,1,1,1,0,0,0,0,1,1,...,0,1,1,0,0,0,1,0,0,0

In [33]:
# Create the gensim corpus
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

# Create the vocabulary dictionary
id2wordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [34]:
# Let's start with 2 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=2, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.023*"wednesday" + 0.008*"tyler" + 0.008*"enid" + 0.007*"nevermore" + 0.007*"monster" + 0.006*"rowan" + 0.006*"oh" + 0.006*"school" + 0.006*"weems" + 0.006*"thing"'),
 (1,
  '0.018*"wednesday" + 0.008*"garrett" + 0.007*"eugene" + 0.006*"father" + 0.006*"dance" + 0.005*"way" + 0.005*"oh" + 0.005*"monster" + 0.005*"gates" + 0.004*"night"')]

In [35]:
# Let's try topics = 3
ldan = models.LdaModel(corpus=corpusn, num_topics=3, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.020*"wednesday" + 0.009*"nevermore" + 0.007*"fester" + 0.007*"school" + 0.007*"hyde" + 0.005*"tyler" + 0.005*"monster" + 0.005*"rowan" + 0.005*"oh" + 0.005*"thing"'),
 (1,
  '0.001*"wednesday" + 0.001*"rowan" + 0.001*"monster" + 0.001*"tyler" + 0.000*"mother" + 0.000*"thing" + 0.000*"school" + 0.000*"oh" + 0.000*"nevermore" + 0.000*"enid"'),
 (2,
  '0.025*"wednesday" + 0.009*"enid" + 0.007*"tyler" + 0.007*"monster" + 0.006*"oh" + 0.006*"weems" + 0.006*"nevermore" + 0.006*"crackstone" + 0.006*"eugene" + 0.006*"rowan"')]

In [36]:
# Let's try 4 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=4, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.001*"wednesday" + 0.001*"monster" + 0.000*"eugene" + 0.000*"enid" + 0.000*"come" + 0.000*"thing" + 0.000*"nevermore" + 0.000*"way" + 0.000*"oh" + 0.000*"father"'),
 (1,
  '0.018*"wednesday" + 0.010*"eugene" + 0.010*"dance" + 0.008*"monster" + 0.008*"rave" + 0.007*"come" + 0.007*"goo" + 0.006*"oh" + 0.005*"enid" + 0.005*"thing"'),
 (2,
  '0.028*"wednesday" + 0.009*"tyler" + 0.009*"enid" + 0.008*"nevermore" + 0.007*"school" + 0.007*"mother" + 0.006*"rowan" + 0.006*"oh" + 0.006*"way" + 0.006*"monster"'),
 (3,
  '0.011*"crackstone" + 0.009*"wednesday" + 0.007*"monster" + 0.006*"hey" + 0.005*"house" + 0.005*"rowan" + 0.005*"town" + 0.005*"jericho" + 0.005*"meeting" + 0.005*"joseph"')]

## Topic Modeling - Attempt #3 (Nouns and Adjectives)

In [37]:
# Let's create a function to pull out nouns from a string of text
def nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

In [38]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns_adj = pd.DataFrame(data_clean.transcript.apply(nouns_adj))
data_nouns_adj

                                            transcript
E01  Original release date November Wednesday Addam...
E02  Original release date November Wednesday skept...
E03  Original release date November Wednesday membe...
E04  Original release date November Wednesday Thing...
E05  Original release date November years Gomez sus...
E06  Original release date November Wednesday Goody...
E07  Original release date November Mayor Walker fu...
E08  Original release date November Wednesday class...

In [39]:
# Create a new document-term matrix using only nouns and adjectives, also remove common words with max_df
cvna = CountVectorizer(stop_words=stop_words)
data_cvna = cvna.fit_transform(data_nouns_adj.transcript)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names())
data_dtmna.index = data_nouns_adj.index
data_dtmna

c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abilities,ability,able,abominable,abomination,abominations,academy,acapella,accept,accident,...,yoko,yonder,young,youthful,yowza,yuck,zero,zombies,zone,zurich
E01,0,0,0,0,0,0,1,0,1,1,...,0,0,0,0,0,0,1,0,0,0
E02,0,1,1,0,0,0,0,1,0,2,...,2,0,0,0,0,0,0,0,0,0
E03,1,1,2,0,0,1,2,0,0,0,...,2,1,1,0,0,2,0,1,0,0
E04,0,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
E05,1,1,0,0,0,0,0,0,0,2,...,0,0,0,1,0,0,0,0,0,0
E06,0,2,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
E07,0,0,1,0,0,0,0,0,0,0,...,5,0,1,0,1,0,0,0,0,1
E08,0,1,1,0,1,1,0,0,0,0,...,1,0,1,0,0,0,1,0,0,0

In [40]:
# Create the gensim corpus
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [41]:
# Let's start with 2 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.018*"wednesday" + 0.011*"tyler" + 0.007*"enid" + 0.007*"hyde" + 0.005*"monster" + 0.005*"xavier" + 0.005*"laurel" + 0.005*"gates" + 0.005*"weems" + 0.005*"oh"'),
 (1,
  '0.017*"wednesday" + 0.006*"rowan" + 0.006*"nevermore" + 0.005*"school" + 0.005*"way" + 0.005*"oh" + 0.005*"monster" + 0.004*"enid" + 0.004*"mother" + 0.004*"thing"')]

In [42]:
# Let's try 3 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=3, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.021*"wednesday" + 0.009*"tyler" + 0.007*"enid" + 0.007*"gates" + 0.006*"hyde" + 0.005*"father" + 0.005*"oh" + 0.005*"monster" + 0.005*"garrett" + 0.005*"nevermore"'),
 (1,
  '0.015*"wednesday" + 0.008*"rowan" + 0.007*"nevermore" + 0.006*"school" + 0.005*"enid" + 0.005*"thing" + 0.004*"way" + 0.004*"monster" + 0.004*"oh" + 0.004*"crackstone"'),
 (2,
  '0.013*"wednesday" + 0.007*"eugene" + 0.007*"dance" + 0.006*"monster" + 0.006*"rave" + 0.006*"goo" + 0.005*"xavier" + 0.005*"come" + 0.004*"oh" + 0.004*"enid"')]

In [43]:
# Let's try 4 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.018*"wednesday" + 0.007*"enid" + 0.007*"nevermore" + 0.006*"tyler" + 0.006*"oh" + 0.005*"school" + 0.005*"monster" + 0.005*"fester" + 0.004*"hyde" + 0.004*"thing"'),
 (1,
  '0.014*"wednesday" + 0.013*"garrett" + 0.009*"father" + 0.007*"gates" + 0.007*"mother" + 0.007*"morticia" + 0.005*"family" + 0.005*"gomez" + 0.005*"way" + 0.004*"nevermore"'),
 (2,
  '0.013*"wednesday" + 0.009*"rowan" + 0.006*"crackstone" + 0.005*"monster" + 0.005*"enid" + 0.005*"weems" + 0.004*"nevermore" + 0.004*"thing" + 0.004*"good" + 0.004*"hey"'),
 (3,
  '0.023*"wednesday" + 0.010*"tyler" + 0.008*"eugene" + 0.008*"xavier" + 0.006*"monster" + 0.006*"enid" + 0.006*"weems" + 0.006*"dance" + 0.005*"thing" + 0.005*"oh"')]

## Identify Topics in Each Document

Out of the 9 topic models we looked at, the nouns and adjectives, 4 topic one made the most sense. So let's pull that down here and run it through some more iterations to get more fine-tuned topics.

In [45]:
# Our final LDA model (for now)
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80)
ldana.print_topics()

[(0,
  '0.019*"wednesday" + 0.006*"nevermore" + 0.006*"oh" + 0.005*"school" + 0.005*"way" + 0.005*"thing" + 0.005*"eugene" + 0.005*"enid" + 0.005*"monster" + 0.004*"little"'),
 (1,
  '0.023*"wednesday" + 0.010*"tyler" + 0.009*"enid" + 0.007*"gates" + 0.007*"garrett" + 0.007*"father" + 0.006*"mother" + 0.006*"weems" + 0.006*"oh" + 0.005*"nevermore"'),
 (2,
  '0.016*"wednesday" + 0.007*"rowan" + 0.007*"fester" + 0.006*"hyde" + 0.006*"monster" + 0.005*"xavier" + 0.005*"thing" + 0.005*"kinbott" + 0.005*"don" + 0.005*"tyler"'),
 (3,
  '0.009*"crackstone" + 0.007*"wednesday" + 0.006*"monster" + 0.005*"hey" + 0.004*"house" + 0.004*"meeting" + 0.004*"jericho" + 0.004*"town" + 0.004*"old" + 0.004*"pilgrim"')]

These four topics look pretty decent. Let's settle on these for now.
* Topic 0: wednesday, nevermore
* Topic 1: tyler, enid
* Topic 2: rowan, hyde
* Topic 3: crackstone

In [46]:
# Let's take a look at which topics each transcript contains
corpus_transformed = ldana[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(0, 'E01'),
 (2, 'E02'),
 (3, 'E03'),
 (0, 'E04'),
 (1, 'E05'),
 (1, 'E06'),
 (2, 'E07'),
 (1, 'E08')]

For a first pass of LDA, these kind of make sense to me, so we'll call it a day for now.
* Topic 0: wednesday [E01, E04]
* Topic 1: tyler, enid [E05, E06, E08]
* Topic 2: rowan, hyde [E02, E07]
* Topic 3: crackstone [E03]

### Assignment:
1. Try further modifying the parameters of the topic models above and see if you can get better topics.
2. Create a new topic model that includes terms from a different [part of speech](https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html) and see if you can get better topics.

In [47]:
def proper_nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the proper nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'NNP' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    pnouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(pnouns_adj)

In [48]:
data_pnouns_adj = pd.DataFrame(data_clean.transcript.apply(nouns_adj))
data_pnouns_adj

                                            transcript
E01  Original release date November Wednesday Addam...
E02  Original release date November Wednesday skept...
E03  Original release date November Wednesday membe...
E04  Original release date November Wednesday Thing...
E05  Original release date November years Gomez sus...
E06  Original release date November Wednesday Goody...
E07  Original release date November Mayor Walker fu...
E08  Original release date November Wednesday class...

In [51]:
cvpna = CountVectorizer(stop_words=stop_words)
data_cvpna = cvpna.fit_transform(data_pnouns_adj.transcript)
data_dtmpna = pd.DataFrame(data_cvpna.toarray(), columns=cvpna.get_feature_names())
data_dtmpna.index = data_pnouns_adj.index
data_dtmpna

,abilities,ability,able,abominable,abomination,abominations,academy,acapella,accept,accident,...,yoko,yonder,young,youthful,yowza,yuck,zero,zombies,zone,zurich
E01,0,0,0,0,0,0,1,0,1,1,...,0,0,0,0,0,0,1,0,0,0
E02,0,1,1,0,0,0,0,1,0,2,...,2,0,0,0,0,0,0,0,0,0
E03,1,1,2,0,0,1,2,0,0,0,...,2,1,1,0,0,2,0,1,0,0
E04,0,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
E05,1,1,0,0,0,0,0,0,0,2,...,0,0,0,1,0,0,0,0,0,0
E06,0,2,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
E07,0,0,1,0,0,0,0,0,0,0,...,5,0,1,0,1,0,0,0,0,1
E08,0,1,1,0,1,1,0,0,0,0,...,1,0,1,0,0,0,1,0,0,0

In [52]:
# Create the gensim corpus
corpuspna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmpna.transpose()))

# Create the vocabulary dictionary
id2wordpna = dict((v, k) for k, v in cvpna.vocabulary_.items())

In [60]:
ldapna = models.LdaModel(corpus=corpuspna, num_topics=6, id2word=id2wordna)
ldapna.print_topics()

[(0,
  '0.014*"wednesday" + 0.006*"monster" + 0.004*"enid" + 0.004*"nevermore" + 0.004*"don" + 0.004*"tyler" + 0.004*"school" + 0.004*"eugene" + 0.004*"mother" + 0.004*"ellie"'),
 (1,
  '0.018*"wednesday" + 0.006*"enid" + 0.006*"nevermore" + 0.006*"oh" + 0.005*"tyler" + 0.005*"don" + 0.004*"monster" + 0.004*"gates" + 0.004*"xavier" + 0.004*"way"'),
 (2,
  '0.018*"wednesday" + 0.006*"enid" + 0.005*"xavier" + 0.005*"monster" + 0.005*"thing" + 0.004*"oh" + 0.004*"nevermore" + 0.004*"rowan" + 0.004*"ellie" + 0.004*"way"'),
 (3,
  '0.019*"wednesday" + 0.007*"enid" + 0.006*"tyler" + 0.005*"monster" + 0.005*"nevermore" + 0.005*"weems" + 0.004*"school" + 0.004*"way" + 0.004*"rowan" + 0.004*"oh"'),
 (4,
  '0.017*"wednesday" + 0.005*"tyler" + 0.005*"xavier" + 0.004*"school" + 0.004*"oh" + 0.004*"monster" + 0.004*"mother" + 0.004*"rowan" + 0.004*"eugene" + 0.004*"nevermore"'),
 (5,
  '0.018*"wednesday" + 0.006*"nevermore" + 0.006*"enid" + 0.006*"tyler" + 0.005*"oh" + 0.005*"rowan" + 0.005*"thing" + 0.004*"mother" + 0.004*"don" + 0.004*"way"')]